// Line-height
$headings-line-height: 1.5;
$line-height-base: 1.65;

// Colors
$gray-dark: #546E7A;
$good-red: #f44336;

// Font-family
$font-family-sans-serif: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

// IE hack
@media all and (-ms-high-contrast: none) {
  body,
  tooltip,
  popover {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

@import '/Applications/XAMPP/xamppfiles/htdocs/muscle/vendor/twbs/bootstrap/scss/bootstrap.scss';

body {
    letter-spacing: .1em;
    text-align: justify;
  }
  
main {
    min-height: 90vh;
}

.good_btn {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  :hover {
    color: $good-red;
  }
  .active {
    color: $good-red;
  }
}

.carousel-item {
  a:hover {
    text-decoration: none;
  }
}

.jumbotron-extend {
  position: relative;
  height: 70vh;
  min-height: 300px;
}
.main_01 {
  background: url(../images/main_01.jpg) no-repeat center center;
  background-size: cover;
}
.main_02 {
  background: url(../images/main_02.jpg) no-repeat center center;
  background-size: cover;
}
.main_03 {
  background: url(../images/main_03.jpg) no-repeat center center;
  background-size: cover;
}
.main_04 {
  background: url(../images/main_04.jpg) no-repeat center center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 80%;
  transform: translateY(-50%);
  h1 {
    font-size: 6vw;
  }
  p {
    font-size: 3vw;
  }
}

footer {
  margin-top: auto;
}

ul {
  li {
  list-style: none;
  }
}
