// Line-height
$headings-line-height: 1.5;
$line-height-base: 1.65;

// Colors
$gray-dark: #546E7A;
$good-red: #f44336;

// Modal-padding
// $modal-inner-padding: 30px;
// $modal-title-padding: 30px;

// Font-family
// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
$font-family-sans-serif: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

// IE hack
@media all and (-ms-high-contrast: none) {
  body,
  tooltip,
  popover {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

@import '/Applications/XAMPP/xamppfiles/htdocs/muscle/vendor/twbs/bootstrap/scss/bootstrap.scss';

body {
    letter-spacing: .1em;
    text-align: justify;
  }
  
main {
    min-height: 90vh;
}

.good_btn{
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  :hover{
    color: $good-red;
  }
  .active{
    color: $good-red;
  }
}

.jumbotron-extend {
  position: relative;
  height: 70vh;
  min-height: 300px;
  background: url(../images/main_01.jpg) no-repeat center center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  margin-top: auto;
}
