
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSCLE STORE｜完了ページ</title>
</head>
<body>
    <header>
        {% include 'header.html.twig' %}
    </header>
    <main>
        <div>
            <h2>完了しました</h2>
            <div><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}index.php">トップページへ</a></div>
        </div>
    </main>
    <footer>
        {% include 'footer.html.twig' %}
    </footer>
</body>
</html>