<h1>MUSCLE STORE</h1>
<form action="" method="post">
    <input type="text" name="keyword" value="">
    <input type="submit" name="search" value="検索">
</form>
<div>アカウント</div>
<div>
    <a href="">ログイン</a>
    <a href="">新規登録</a>
    <a href="">カート</a>
    <a href="">欲しい物リスト</a>
    <a href="">購入履歴</a>
</div>
<div>
    <div>ブランド別</div>
    <a href="">ZAVAS</a>
    <a href="">DNS</a>
    <div>目的別</div>
    <a href="">ムキムキになりたい</a>
    <a href="">ダイエットしたい</a>
    <div>フレーバー別</div>
    <a href="">バニラ系</a>
    <a href="">チョコ系</a>
    <a href="">フルーツ系</a>
</div>