<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <title>MUSCLE STORE｜トップページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<div>
    <div>main-image</div>
</div>
<main class="container">
    <h2 class="h2 mt-4 mb-4">おすすめの商品</h2>
    <div>
        <a href="">item1</a>
        <a href="">item2</a>
        <a href="">item3</a>
    </div>
    <div>
        <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php">商品一覧を見る</a>
    <div>
    <h2 class="h2 mt-4 mb-4">商品を探す</h2>
    <div>
        <div>
            {% include 'category.html.twig' %}
        </div>
        <div>
            <form action="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php" method="post">
                <input type="text" name="keywords" value="">
                <input type="submit" name="search" value="検索">
            </form>
            {# <form action="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php" method="post" class="form-inline">
                <div  class="form-group">
                    <input class="form-control mr-sm-2" type="text" name="keyword" value="" placeholder="検索" aria-label="Search" size="30">
                    <input type="submit" class="btn btn-outline-success my-1 my-sm-0" name="search" value="検索">
                </div>
            </form> #}
            <div>
            <span>こんなキーワードで検索されています</span>
            <a href="">バニラ味</a>
            <a href="">減量</a>
            <a href="">5kg</a>
            </div>
        </div>
    </div>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>