<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSCLE STORE</title>
</head>
<body>
    <header>
        {% include 'header.html.twig' %}
    </header>
    <main>
        <div>
            <div>main-image</div>
        </div>
        <div>
            <h2>おすすめの商品</h2>
            <div>
                <a href="">item1</a>
                <a href="">item2</a>
                <a href="">item3</a>
            </div>
            <div>
                <a href="">商品一覧を見る</a>
            <div>
        </div>
        <div>
            <h2>商品を探す</h2>
            <div>
                <div>
                    <div>ブランド別</div>
                    <a href="">ZAVAS</a>
                    <a href="">DNS</a>
                    <div>目的別</div>
                    <a href="">ムキムキになりたい</a>
                    <a href="">ダイエットしたい</a>
                    <div>フレーバー別</div>
                    <a href="">バニラ系</a>
                    <a href="">チョコ系</a>
                    <a href="">フルーツ系</a>
                </div>
                <div>
                    <form action="" method="post">
                        <input type="text" name="keyword" value="">
                        <input type="submit" name="search" value="検索">
                        <div>こんなキーワードで検索されています</div>
                        <a href="">バニラ味</a>
                        <a href="">減量</a>
                        <a href="">5kg</a>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include 'footer.html.twig' %}
    </footer>
</body>
</html>