<div class="main-image">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=1">
                    <div class="jumbotron jumbotron-extend main_01">
                        <div class="container-fluid jumbotron-container">
                            <h1 style="color: #ffffff;" class="font-weight-bold">ムキムキになりたい</h1>
                            <p class="font-weight-bold text-muted">Muscle building</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=2">
                    <div class="jumbotron jumbotron-extend main_02">
                        <div class="container-fluid jumbotron-container">
                            <h1 style="color: #ffffff;" class="font-weight-bold text-right">ダイエットしたい</h1>
                            <p class="font-weight-bold text-right text-muted">Lose weight</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=3">
                    <div class="jumbotron jumbotron-extend main_03">
                        <div class="container-fluid jumbotron-container">
                            <h1 style="color: #ffffff;" class="font-weight-bold">健康を維持したい</h1>
                            <p class="font-weight-bold text-muted">Get fit</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{constant('main\\Bootstrap::ENTRY_URL')}}list.php?purpose=4">
                    <div class="jumbotron jumbotron-extend main_04">
                        <div class="container-fluid jumbotron-container">
                            <h1 style="color: #ffffff;" class="font-weight-bold text-right">疲労を回復したい</h1>
                            <p class="font-weight-bold text-right text-muted">Fatigue recovery</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <a class="carousel-control-prev text-danger" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>