<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{constant('main\\Bootstrap::ENTRY_URL')}}stylesheets/index.css" rel="stylesheet">
    <title>MUSCLE STORE｜マイページ</title>
</head>
<body>
<header>
    {% include 'header.html.twig' %}
</header>
<main class="container">
    <h2 class="h2 mt-4 mb-4">マイページ</h2>
    <div>
        <div><a href="">欲しい物リスト</a></div>
        <div><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}cart.php">カート</a></div>
        <div><a href="">購入履歴</a></div>
        <div><a href="">アカウント情報編集</a></div>
        <div><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}delete_account.php">退会</a></div>
        <div><a href="">お問い合わせ</a></div>
        <div><a href="{{constant('main\\Bootstrap::ENTRY_URL')}}index.php">トップページへ</a></div>
    </div>
</main>
<footer>
    {% include 'footer.html.twig' %}
</footer>
</body>
</html>